name: run-main
run-name: run-main
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    name: main
        # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_DB: "seasketch"
          POSTGRES_USER: "postgres"
          POSTGRES_PASSWORD: "password"
        ports:
          - 5432:5432          
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Test database connection
        run: PGPASSWORD=password psql -h 127.0.0.1 -d seasketch -U postgres -c 'SELECT 1;'
        env:
          PGPASSWORD: password
    
      - run: sudo apt-get update

      - run: sudo apt-get install -y git

      - uses: actions/checkout@v3

      #- run: cd data/random-sketches && sh ./setup.sh

      #- run: ls ./data/random-sketches
      
      - run: sh ./run.sh

      - run: ls

      # Commit all changed files back to the repository
      # - uses: stefanzweifel/git-auto-commit-action@v5
